<!DOCTYPE html>
<html>
<head>
	<title>
		rec view
	</title>
</head>
<body>
	<form action="/echo2" method="post" >
		<input type="submit" value="submit code">
		<!-- The second value will be selected initially -->
		<select name="select"> <!--Supplement an id here instead of using 'name'-->
		  <option value="c">c</option> 
		  <option value="java" selected>java</option>
		  <option value="python">python</option>
		</select>
		<textarea name="codes" rows="10" cols="80">
			
		</textarea>>
		<img src="/static/g.png" />
	</form>
</body>
</html>>